@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: "Bricolage Grotesque", sans-serif;
}


.officer-wrapper img {
  transition: transform 0.3s ease-in-out;
}



.officer-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  /* Rounded corners */
}

.off-wrapper img {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.off-wrapper:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

  /*filter: grayscale(100%); /* Slight gray overlay */
}

.hov-wrapper:hover .linkedin-icon {
  opacity: 1;
}

.linkedin-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 2.5rem;
  color: #0e76a8;
  /* LinkedIn blue */
  z-index: 10;
}


.font-bricolage {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* Default for smaller screens */
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  grid-auto-rows: 100px;
  /* Set a consistent row height */
  gap: 20px;
  padding: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--card);
  /* Set the background color for the box */
  border: 1px solid var(--border);
  /* Define a border to create a box effect */
  border-radius: var(--radius);
  /* Optional: rounding corners */
  padding: 10px;
  /* Space between the image and box edges */
}


.fullscreen-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Fill the viewport height */
}

.event-box {
  width: 1075px;
  height: 375px;
  background-color: #3e68fd;
  border-radius: 36px;
}

.right-justify-events {
  text-align: right;
}

.event-box {
  width: 90%;
  max-width: 1075px;
  height: 375px;
  background-color: #3e68fd;
  border-radius: 36px;
  margin: 0 auto;
  padding: 1rem;
}

/* Media query for smaller screens (like iPhone) */
@media (max-width: 1000px) {
  .event-box {
    width: 95%;
    /* Increase the percentage width for smaller devices */
    border-radius: 20px;
    /* Reduce border radius for better proportions */
    height: 185px;
  }
}

@media (max-width: 480px) {
  .event-box {
    padding: 0.5rem;
    /* Adjust padding to avoid content cramping */
    border-radius: 16px;
    /* Further reduce the border radius */
  }
}

.iphone-image {
  width: 250px;
  height: auto;
  position: absolute;
  left: 890px;
  top: 20px;
  z-index: 1;
}

@media (min-width: 1280px) {
  .iphone-image {
    width: 250px;
    height: auto;
    position: absolute;
    left: 870px;
    top: 200px;
    z-index: 1;
  }
}

/* Hide the iPhone image on smaller screens */
@media (max-width: 1000px) {
  .iphone-image {
    display: none;
    /* Completely hide the element */
  }
}

@media screen and (min-width: 1920px) {
  .iphone-image {
    width: 250px;
    /* Shrink the width significantly */
    height: auto;
    /* Maintain aspect ratio */
    left: 1130px !important;
    /* Adjust horizontal position */
    top: 210px;
    /* Adjust vertical position */
  }
}



/* Base styles for the arrow image */
.arrowpsst-image {
  width: 100px;
  height: auto;
  position: absolute;
  right: 155px;
  top: 130px;
  z-index: 1;
}

/* Shrink the arrow image for smaller screens */
@media (max-width: 1000px) {
  .arrowpsst-image {
    width: 50px;
    /* Shrink the width significantly */
    height: auto;
    /* Maintain aspect ratio */
    right: 55px;
    /* Adjust horizontal position */
    top: 130px;
    /* Adjust vertical position */
  }
}

@media (min-width: 1001px) {
  .arrowpsst-image {
    width: 50px;
    height: auto;
    /* Maintain aspect ratio */
    right: 450px;
    /* Adjust horizontal position */
    top: 130px;
    /* Adjust vertical position */
  }
}

.psst-text {
  wordSpacing: "0.1rem";
  position: 'absolute';
  left: 400px;
}



@media (min-width: 1280px) {
  .arrow-image {
    width: 250px;
    height: auto;
    position: absolute;
    right: 300px;
    top: 40px;
    z-index: 1;
    transform: 'rotate(-15deg)'
  }

}

/* Shrink the arrow image for smaller screens */
@media (max-width: 1000px) {
  .arrow-image {
    width: 100px;
    /* Shrink the width significantly */
    height: auto;
    /* Maintain aspect ratio */
    position: absolute;
    left: 105px;
    /* Adjust horizontal position */
    top: 255px !important;
    /* Adjust vertical position */
  }
}

/* Expand the arrow image for larger screens */
@media (min-width: 1001px) {
  .arrow-image {
    width: 200px;
    /* Increase the width */
    height: auto;
    /* Maintain aspect ratio */
    left: 450px;
    /* Adjust horizontal position */
    top: 400px;
    /* Adjust vertical position */
  }
}





@media (max-width: 1000px) {
  .upnext-text {
    position: absolute;
    /* Ensure the position is absolute */
    top: 310px !important;
    /* Move the text upwards */
    left: 0;
    /* Optional: Center or adjust horizontally */
    transform: translateX(20%);
    /* Optional: Adjust horizontal alignment */
  }
}

@media (min-width: 1001px) {
  .upnext-text {
    position: absolute;
    /* Ensure the position is absolute */
    top: 520px !important;
    /* Move the text upwards */
    left: 250px;
    /* Optional: Center or adjust horizontally */
    transform: translateX(20%);
    /* Optional: Adjust horizontal alignment */
  }
}

.psst-text {
  text-align: right;
  /* Align text to the right */
  padding-right: 3rem;
  /* Equivalent to pr-12 */
  padding-bottom: 1rem;
  /* Equivalent to pb-4 */
}

.psst-text h1 {
  font-size: 1rem;
  /* Equivalent to text-1xl */
  padding-left: 3.125rem;
  /* Equivalent to px-50 */
  padding-bottom: 2.5rem;
  /* Equivalent to pb-10 */
  font-weight: 600;
  /* Equivalent to font-semibold */
  color: #000000;
  /* Text color */
  line-height: 1.25;
  /* Equivalent to leading-tight */
  position: absolute;
  /* Set absolute positioning */
  right: 40px;
  /* Positioning from the right */
  word-spacing: 0.1rem;
  /* Space between words */
  -webkit-text-stroke-width: 0.5px;
  /* Stroke width */
  -webkit-text-stroke-color: #3e68fd;
  /* Stroke color */
  color: #3e68fd;
  /* Fallback text color */
}

@media screen and (min-width: 1001px) {
  .psst-text h1 {
    font-size: 1rem;
    /* Equivalent to text-sm */
    padding-left: 1.875rem;
    /* Equivalent to px-3 */
    padding-bottom: 1.25rem;
    /* Equivalent to pb-5 */
    font-weight: 600;
    /* Equivalent to font-semibold */
    color: #000000;
    /* Text color */
    line-height: 1.25;
    /* Equivalent to leading-tight */
    position: absolute;
    /* Set absolute positioning */
    right: 300px;
    /* Positioning from the right */
    word-spacing: 0.1rem;
    /* Space between words */
    -webkit-text-stroke-width: 0.5px;
    /* Stroke width */
    -webkit-text-stroke-color: #3e68fd;
    /* Stroke color */
    color: #3e68fd;
    /* Fallback text color */
  }

}